$light: 100;
$regular: 700;
$heavy: 800;

// $bodyText: #444;
$bodyText: white;
$onwhite-text: #0E2536;
$eye-blue: #6CDFEA;

$icicle: #f0fcff;

$orange: hsl(19, 100%, 51%);

// $body-bg: #f2f2f2;
$body-bg: hsl(205, 86%, 57%);
$dark-body-bg: darken($body-bg, 15%);

$gutter: 6px;

$grey: #444;