body {
	font-family: "open-sans", "Helvetica Neue", Arial;
	font-size: 14px;
	font-weight: $light;
	line-height: 1.68;
}

.portfolio-subsection h2 {
	text-transform: uppercase;
}

.blog-content .imgLink {
	border-bottom: 0 !important;
}

.name-left a, 
nav a, 
.button-link, 
.ind-project, 
.portfolio-subsection h2,
.project-information .project-dates, 
.project-information h1,
.return-to, 
.tasks,
.blog-entry h1,
.blog-entry h2,
.lead-in h1, 
.blog-entry .post-data,
.blog-entry-list h2,
.blog-entry-list h3,
.blog-entry-list .date-posted,
.blog-entry-list .read-more,
.bullets .subtitle,
.bio .name,
footer .icon,
footer .copyr {
	font-family: "futura-pt", "helvetica neue", "arial", "sans-serif";
	font-weight: 700;
}

.blog-entry {
	.return-to {
		font-size: 11px;
		text-transform: uppercase;
	}
	.blog-title {
		h1 {
			margin-bottom: 0;
		}
		.post-data {
			text-transform: uppercase;
			padding-bottom: $gutter;
			font-size: 11px;		
		}
	}
	h2 {
		font-weight: $regular;
		margin-bottom: 0;
		font-size: 17px;
	}
	p {
		font-weight: 500;
	}
	h2, .post-data {
		text-transform: uppercase;
	}
	.blog-content {
		h2+p {
			margin-top: 0;
		}
	}
}

.blog-entry-list {
	h2 {
		text-transform: uppercase;
	}
}

.blog-entry-preview {
	.date-posted {
		text-transform: uppercase;
		font-size: 11px;
	}
	.preview {
		font-weight: 500;
	}
	.read-more {
		text-transform: uppercase;
		font-size: 11px;
	}
}

.top-alert {
	text-align: left;
	font-size: 11px;
	font-weight: $regular;
	// text-shadow: 0 1px 0 black;
}

header {
	// text-shadow: 0 1px 0 white;
}

.button-link {
	// font-size: 11px;
	text-transform: uppercase;
}

.name-left a {
	font-weight: $regular;
	text-transform: uppercase;
	&.icon {
		display: inline-block;
		margin-right: $gutter;
	}
}

.name-left, footer {
	.icon {
		font-size: 32px;
	}
}

nav a {
	text-transform: uppercase;
	font-size: 11px;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: $light;
}

.ind-project {
	.metadata {
		h3 {
			font-weight: $regular;
			margin: 0;
		}
		.time {
			// line-height: 1.68;
			// line-height: 26px;
			// font-weight: $light;
			text-transform: uppercase;
			font-size: 11px;
		}
		p {
			// text-transform: uppercase;
			font-weight: $regular;
			font-size: 11px;
			margin: 0;
		}
		.roles {
			text-transform: uppercase;
		}
	}
}

.project-details {
	.return-to {
		font-size: 11px;
		text-transform: uppercase;
	}
}
.project-information, .project-data {
	p {
		font-weight: 500;
	}
}
.project-information {
	.project-dates {
		text-transform: uppercase;
		padding-bottom: $gutter;
		font-size: 11px;
	}
	.tasks {
		text-transform: uppercase;
		opacity: 0.7;
		font-size: 11px;
	}
	p {
		&.bullets .subtitle {
			text-transform: uppercase;
		}
	}
}

footer {
	font-weight: 500;
	.bio .name, .icon, .copyr {
		text-transform: uppercase;
	}
	.icon {
		font-size: 24px;
	}
	.copyr {
		font-size: 11px;
	}
}

.tagline {
	display: none;
}

.lead-in {
	p {
		br {
			display: none;
		}
	}
}

@media (min-width: 600px) {
	.lead-in {
		p {
			br {
				display: block;
			}
		}
	}
	.blog-entry {
		.blog-title {

		}
		.blog-content {
			p {
			font-size: 17px;
			}
		}
	}
	footer {
		.icon {
			font-size: 24px;
			vertical-align: middle;
		}
	}
}

@media (min-width: 768px) {
	.tagline {
		display: inline;
	}
	.home .tagline {
		// opacity: 0;
		@include animation-delay(.8s);
		@include animation-name(fadeIn);
		@include animation-timing-function(ease-out);
		@include animation-duration(1s);
		@include animation-iteration-count(1);
		@include animation-fill-mode(forwards);
	}
	.lead-in {
		h1 {
			font-size: 3em;
		}
		p {
			font-size: 1.5em;
		}
	}
	.blog-title {
		h1 {
			font-size: 3em;
		}
	}
	.blog-content {
		p {
			&:first-child {
				font-size: 1.5em;
			}
		}
	}
	.blog-entry-preview:first-of-type {
		h3 {
			font-size: 3em;
		}
		.preview {
			font-size: 1.5em;
		}
	}

}

@media (min-width: 960px) {

}